<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registry</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  
</head>

<body>
  <header class="section hero-banner">
    <nav class="level is-mobile">
      <button class="button is-info level-item has-text-centered home-page-button" id="homebtn"><a href="/">Home</a></button>
      <button class="button is-info level-item has-text-centered home-page-button" id="homebtn"><a href="/post">Create Post</a></button>
      <p class="level-item">
        <img
          src="/images/cow-giraffe.png"
          alt="Cow with giraffe patterns" style="height: 150px" id="cowheader">
      </p>
      <button class="button is-info level-item has-text-centered home-page-button" id="homebtn"><a href="/profile">Profile</a></button>
        {{#if logged_in}}
        <button class="button is-danger level-item has-text-centered home-page-button" id="logout">Logout</button>
        {{else}}
        <button class="button level-item has-text-centered is-success home-page-button"id="homebtn" ><a href="/login">Login</a></button>
        {{/if}}
      
    </nav>
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>

  </footer>

  <!-- Only include the logout script if the user is logged in -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>