<main class="container has-background-link" style="width: 25%">
  <div class="is-flex is-justify-content-center">
        <div class="box has-background-info" >
        <div class="column">
        <h2 class="title is-2 is-primary">Login</h2> 
    <form class="form ">
        <div class="field">
            <label class="label ">Username</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-success" id = "username-login" type="text">
              <span class="icon is-small is-left">
                <i class="fas fa-user" style="color: #304c7e;"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-success" id = "password-login" type="password">
              <span class="icon is-small is-left">
                <i class="fas fa-key" style="color: #e2ee44;"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas"></i>
              </span>
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link" id = "loginbutton">Login</button>
            </div>
    </form>
    </div>
  </div>

      <div class="column">
      <div class="box has-background-info" >
        <h2 class="title is-2 is-primary">Sign-Up</h2>  
        <form class="form ">
            <div class="field">
                <label class="label">Name:</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input is-success" id = "name-signup" type="text">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user-circle" style="color: #223658;"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas"></i>
                  </span>
                </div>
              </div>
            <div class="field">
                <label class="label">Username:</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input is-success" id = "username-signup" type="text">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user" style="color: #304c7e;"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">Password:</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input is-success" id = "password-signup" type="password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-key" style="color: #e2ee44;"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">Email:</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input is-success" id = "email-signup"  type="text">
                  <span class="icon is-small is-left">
                    <i class="far fa-envelope" style="color: #253b5f;"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">Age:</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input is-success" id = "age-signup" type="text">
                  <span class="icon is-small is-left">
                    <i class="fas fa-hourglass-half" style="color: #2a436f;"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas"></i>
                  </span>
                </div>
              </div>
            <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link" id = "signupbutton">Create Profile</button>
                </div>
        </form>
  </div>
</div>
</div>
</main>
<script src="./js/login.js"></script>
</html>