<link rel="stylesheet" href="css/login.css">
<style>
body {
  background-image: url('/images/giraffe.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
      <div class="container loginbox">
      <div class="wrapper">
         <div class="title-text">
            <div class="title login">
               <div class = "is-size-2">Rate My &#128004; &#129426; &#129424; </div>
               <div> Login</div>
            </div>
            <div class="title signup">
               Signup
            </div>
         </div>
         <div class="form-container">
            <div class="slide-controls">
               <input type="radio" name="slide" id="login" checked>
               <input type="radio" name="slide" id="signup">
               <label for="login" class="slide login">Login</label>
               <label for="signup" class="slide signup">Signup</label>
               <div class="slider-tab"></div>
            </div>
            <div class="form-inner">
               <form action="#" class="login">
                  <div class="field control has-icons-left">
                     <input class="input is-success" id = "username-login" type="text" placeholder="Username">
                <span class="icon is-small is-left">
                <i class="fas fa-user" style="color: #304c7e;"></i>
                </span>
                  </div>
                  <div class="field control has-icons-left">
                     <input class="input is-success" id = "password-login" type="password" placeholder="Password">
                <span class="icon is-small is-left">
                <i class="fas fa-key" style="color: #e2ee44;"></i>
                </span>
                  </div>
                  <div class="field btn">
                     <div class="btn-layer"></div>
                     <input type="submit" value="Login" id = "loginbutton">
                  </div>
                <div class="imgart" > 
                  <img src="/images/cowart.png" alt="cowart" width="128" height="128" style="float:left">
                  <img src="/images/shrimpart.jpg" alt="shrimpart" width="135" height="148" style="float:right;margin:10px 10px">
                </div>
               </form>

               <form action="#" class="signup">
                  <div class="field control has-icons-left">
                     <input class="input is-success" id = "username-signup" type="text" placeholder="Username">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user" style="color: #304c7e;"></i>
                  </span>
                  </div>
                  <div class="field control has-icons-left">
                     <input class="input is-success" id = "password-signup" type="password" placeholder="Password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-key" style="color: #e2ee44;"></i>
                  </span>
                  </div>
                  <div class="field control has-icons-left">
                     <input class="input is-success" id = "email-signup"  type="text" placeholder="Email Address">
                  <span class="icon is-small is-left">
                    <i class="far fa-envelope" style="color: #253b5f;"></i>
                  </span>
                  </div>
                  <div class="field control has-icons-left">
                     <input class="input is-success" id = "age-signup" type="text" placeholder="Age">
                  <span class="icon is-small is-left">
                    <i class="fas fa-hourglass-half" style="color: #2a436f;"></i>
                  </span>
                  </div>
                  <div class="field btn">
                     <div class="btn-layer"></div>
                     <input type="submit" value="Signup" id = "signupbutton">
                  </div>
               </form>
            </div>
         </div>
      </div>
      </div>
</main>
      <script>
         const loginText = document.querySelector(".title-text .login");
         const loginForm = document.querySelector("form.login");
         const loginBtn = document.querySelector("label.login");
         const signupBtn = document.querySelector("label.signup");
         const signupLink = document.querySelector("form .signup-link a");
         signupBtn.onclick = (()=>{
           loginForm.style.marginLeft = "-50%";
           loginText.style.marginLeft = "-50%";
         });
         loginBtn.onclick = (()=>{
           loginForm.style.marginLeft = "0%";
           loginText.style.marginLeft = "0%";
         });
         signupLink.onclick = (()=>{
           signupBtn.click();
           return false;
         });
      </script>
<script src="./js/login.js"></script>
</html>