/* .main{
    background-color: beige;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
} */

/* main {
  display: flex;
  Forces elements to the next line if they don't fit
  flex-wrap: wrap;
  margin-top: 2%;
} */

/* .main-header {
  display: flex;
  Forces elements to the next line if they don't fit
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px;
  background: #13293d;
  color: #fff;
} */

/* .card {
  flex: 1 0 0;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}

.card header {
  padding: 20px;
  background: #13293d;
  color: #fff;
}

.card img {
  width: 100%;
  min-width: 400px;
} */

.root {
    --primary: #3D5852;
    --secondary: #86938F;
    --tertiary: #5E877F;
    --quatrinary: #6C6B67;
    --light: #E3E4E3;
    --dark: #182C23;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
  }
#welcome {
  background-color: #ffffff;
  width: fit-content;
  font-family: fantasy;
  font-size: xx-large;
  position: relative;
  bottom: 45px;
}

#postBox {
  background-color: rgb(241, 236, 143);
  position: relative;
  padding: 9px;
  top: 10px;
  border-radius: 25px;
  border: 2px solid #3f8ed0;
}

#createNew {
  border-radius: 12px;
  border: 2px solid  #3f8ed0;
  padding: 20px;
  width: 200px;
  display: flex;
  position: relative;
  font-family: fantasy;
    font-size: large;
    bottom: 10px;
    background-color: #5dc555 ;
    color: antiquewhite;
    left: 30px;

}

#theButtons {
  position: relative;
    bottom: 50px;
    left: 20px;
}

#littleIcon {

  position: relative;
  bottom: 70px;
  left: 30px;

}

#postTitle {
  position: relative;
  padding: 60px;
  font-family: fantasy;
}

#selectAnimal {
  font-family: fantasy;
  position: relative;
  display: grid;
  left: 58px;
  padding-top: 25px;
  padding-bottom: 20px;
  top: 25px;
}

#addImage {
  font-family: fantasy;
}

#imgBox {
  position: relative;
  width: fit-content;
  display: grid;
  left: 900px;
  top: 67px;
}
#theText {
  width: 860px;
  position: relative;
  bottom: 80px;
  left: 20px;
}

#postyBox {
  position: relative;
  top: 10px;
}
#description {
  font-family: fantasy;
  font-size: larger;
}


  .color {
    background-color:lightblue;
  }

  a { 
    color: white; 
    text-decoration: underline;
  }

  #mainCnt {
    justify-content: center!important;
    position: relative;
      flex-wrap: wrap;
      top: 200px;
      left: 140px;
   }
   
   
   #addComment {
    border-radius: 12px;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
   };
   
   
   #addComment:hover {background-color: #3e8e41};
   
   
   #addComment:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
   };
   
   
   #textArea {
    border-radius: 12px;
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
   };

   .button.is-link {
    background-color: #49c78e !important;
    border-color: transparent;
    color: #fff;
   };

   #commcard {
    border-radius: 0.25rem;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
   }